// With both the 'container' and 'conda' directives in the process definition,
// the user can choose which method to use by changing these settings.
docker.enabled = true
conda.enabled = false

// Set process-level memory for all processes to 1 GB, but also 
// override the memory and CPU for the 'cowpy' process to allocate more.
process {
    executor = 'local'  // this is default. Run on local machine.
    // executor = 'slurm'  // uncomment to use SLURM executor
    // executor = 'awsbatch'  // uncomment to use AWS Batch executor
    memory = 1.GB
    withName: 'cowpy' {
        memory = 2.GB
        // memory = {2.GB * task.attempt}  // increase memory with each retry attempt. First attempt gets 2GB, second gets 4GB, third gets 6GB, etc.
        cpus = 2
    }

    // Set resource limits for all processes
    // Useful when dynamically requesting resources. Ensures that 
    // the requests do not exceed cluster limits.
    resourceLimits = [
        memory: 750.GB,
        cpus: 32,
        time: 48.hours
    ]
}

profiles {
    my_laptop {
        process.executor = 'local'
        docker.enabled = true
    }

    slurm_cluster {
        process.executor = 'slurm'
        conda.enabled = true
        process.resourceLimits = [
            memory: 750.GB,
            cpus: 200,
            time: 30.d
        ]
    }
}